
PostgreSQL_DATABASE_URL=YOUR_DATABASE_URL_HERE
Volcengine_ACCESS_API_KEY=YOUR_API_KEY_HERE
Client_Port = 4000
Server_Port = 4001
ACCESS_TOKEN_SECRET=replace_with_at_least_32_random_characters
REFRESH_TOKEN_SECRET=replace_with_a_different_32_character_secret
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d
GNEWS_API_KEY=
